[package]
name = "ecdsa"
version = "0.16.8"
description = """
Pure Rust implementation of the Elliptic Curve Digital Signature Algorithm
(ECDSA) as specified in FIPS 186-4 (Digital Signature Standard), providing
RFC6979 deterministic signatures as well as support for added entropy
"""
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
repository = "https://github.com/RustCrypto/signatures/tree/master/ecdsa"
readme = "README.md"
categories = ["cryptography", "no-std"]
keywords = ["crypto", "ecc", "nist", "secp256k1", "signature"]
edition = "2021"
rust-version = "1.65"

[dependencies]
elliptic-curve = { version = "0.13.5", default-features = false, features = ["digest", "sec1"] }
signature = { version = "2.0, <2.2", default-features = false, features = ["rand_core"] }

# optional dependencies
der = { version = "0.7", optional = true }
digest = { version = "0.10.7", optional = true, default-features = false, features = ["oid"] }
rfc6979 = { version = "0.4", optional = true, path = "../rfc6979" }
serdect = { version = "0.2", optional = true, default-features = false, features = ["alloc"] }
sha2 = { version = "0.10", optional = true, default-features = false, features = ["oid"] }
spki = { version = "0.7.2", optional = true, default-features = false }
cfg-if = "1.0"
hex-literal = "0.4"

[target.'cfg(all(target_os = "zkvm", target_vendor = "succinct"))'.dependencies]
sp1-lib = { git = "https://github.com/succinctlabs/sp1.git", branch = "tamir/v1.3.0-rc2" }
anyhow = "1.0"

[dev-dependencies]
elliptic-curve = { version = "0.13", default-features = false, features = ["dev"] }
sha2 = { version = "0.10", default-features = false }

[features]
default = ["digest"]
alloc = ["elliptic-curve/alloc", "signature/alloc", "spki/alloc"]
std = ["alloc", "elliptic-curve/std", "signature/std"]

arithmetic = ["elliptic-curve/arithmetic"]
dev = ["arithmetic", "digest", "elliptic-curve/dev", "hazmat"]
digest = ["dep:digest", "signature/digest"]
hazmat = []
pkcs8 = ["digest", "elliptic-curve/pkcs8", "der"]
pem = ["elliptic-curve/pem", "pkcs8"]
serde = ["elliptic-curve/serde", "serdect"]
signing = ["arithmetic", "digest", "hazmat", "rfc6979"]
verifying = ["arithmetic", "digest", "hazmat"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
