[workspace]
resolver = "2"
members = [
    "dsa",
    "ecdsa",
    "ed448",
    "ed25519",
    "lms",
    "rfc6979"
]

[profile.dev]
opt-level = 2

[patch.crates-io]
sha1 = { git = "https://github.com/RustCrypto/hashes.git" }
sha2 = { git = "https://github.com/RustCrypto/hashes.git" }
