[package]
name = "lms-signature"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/RustCrypto/signatures/tree/master/lms"
readme = "README.md"
rust-version = "1.73"
categories = ["cryptography"]
keywords = ["crypto", "signature"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "lms"
path = "src/lib.rs"
edition = "2021"

[dependencies]
digest = "0.10.7"
generic-array = {version =  "1.0.0", features = ["zeroize"]}
rand = "0.8.5"
sha2 = "0.10.8"
static_assertions = "1.1.0"
rand_core = "0.6.4"
zeroize = "1.7.0"

[dependencies.typenum]
version = "1.17.0"
features = ["const-generics"]

[dependencies.signature]
version = "2.3.0-pre.0"
features = ["digest", "std", "rand_core"]

[dev-dependencies]
hex = "0.4.3"
hex-literal = "0.4.1"
