[package]
name = "dsa"
version = "0.0.1"
edition = "2021"
license = "Apache-2.0 OR MIT"
readme = "README.md"
categories = ["cryptography"]
keywords = ["crypto", "nist", "signature"]
rust-version = "1.57"

[dependencies]
digest = "0.10.3"
num-bigint = { package = "num-bigint-dig", version = "0.8.1", default-features = false, features = ["prime", "rand", "zeroize"] }
num-traits = { version = "0.2.15", default-features = false }
opaque-debug = "0.3.0"
paste = "1.0.7"
pkcs8 = { version = "0.9.0", default-features = false, features = ["alloc"] }
rand = { version = "0.8.5", default-features = false }
rfc6979 = { version = "0.2.0", path = "../rfc6979" }
signature = { version = ">= 1.5.0, < 1.6.0", default-features = false, features = ["digest-preview", "rand-preview"] }
zeroize = { version = "1.5.5", default-features = false }

[features]
default = []

[dev-dependencies]
pkcs8 = { version = "0.9.0", default-features = false, features = ["pem"] }
rand = "0.8.5"
sha1 = "0.10.1"
sha2 = "0.10.2"
