[package]
name = "dsa"
version = "0.7.0-pre.1"
description = """
Pure Rust implementation of the Digital Signature Algorithm (DSA) as specified
in FIPS 186-4 (Digital Signature Standard), providing RFC6979 deterministic
signatures as well as support for added entropy
"""
edition = "2024"
license = "Apache-2.0 OR MIT"
readme = "README.md"
homepage = "https://github.com/RustCrypto/signatures/tree/master/dsa"
repository = "https://github.com/RustCrypto/signatures"
categories = ["cryptography", "no-std"]
keywords = ["crypto", "nist", "signature"]
rust-version = "1.85"

[dependencies]
digest = "=0.11.0-pre.10"
crypto-bigint = { version = "=0.7.0-pre.1", default-features = false, features = ["alloc", "zeroize"] }
crypto-primes = { version = "=0.7.0-dev", default-features = false }
pkcs8 = { version = "0.11.0-rc.1", default-features = false, features = ["alloc"] }
rfc6979 = { version = "=0.5.0-pre.4" }
sha2 = { version = "=0.11.0-pre.5", default-features = false }
signature = { version = "=3.0.0-pre", default-features = false, features = ["alloc", "digest", "rand_core"] }
zeroize = { version = "1", default-features = false }

[dev-dependencies]
hex = "0.4.3"
hex-literal = "1"
pkcs8 = { version = "0.11.0-rc.1", default-features = false, features = ["pem"] }
rand = "0.9"
rand_chacha = "0.9"
sha1 = "=0.11.0-pre.5"

[features]
std = []
hazmat = []

[[example]]
name = "sign"
required-features = ["hazmat"]

[[example]]
name = "generate"
required-features = ["hazmat"]

[[example]]
name = "export"
required-features = ["hazmat"]
