name: dsa
on:
  pull_request:
    paths:
      - "dsa/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: dsa

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - thumbv7em-none-eabi
          - wasm32-unknown-unknown
        toolchain:
          - 1.57.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions-rs/toolchain@v1
        with:
          target: ${{ matrix.target }}
          toolchain: ${{ matrix.toolchain }}
          override: true
      - run: cargo build --target ${{ matrix.target }} --release --no-default-features

  test:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        toolchain:
          - 1.57.0 # MSRV
          - stable
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Enforce LF
        working-directory: .
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v3.1.0
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true
      - run: cargo test --release --no-default-features
      - run: cargo test --release
      - run: cargo test --release --all-features