name: ml-dsa
on:
  pull_request:
    paths:
      - ".github/workflows/ml-dsa.yml"
      - "ml-dsa/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: ml-dsa

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"
  RUST_MIN_STACK: 6291456

# Cancels CI jobs when new commits are pushed to a PR branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo build --benches
      - run: cargo build --benches --all-features
      - run: cargo test --release
      - run: cargo test --all-features --release
      - run: cargo test --no-default-features --release
      - run: cargo test --no-default-features --features alloc --lib --release

  no_std:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - thumbv7em-none-eabi
          - wasm32-unknown-unknown
        rust:
          - 1.85.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}

      - uses: RustCrypto/actions/cargo-hack-install@master
      - run: cargo hack build --target ${{ matrix.target }} --feature-powerset
