name: xmss
on:
  pull_request:
    paths:
      - ".github/workflows/xmss.yml"
      - "xmss/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: xmss

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

# Cancels CI jobs when new commits are pushed to a PR branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo build --benches
      - run: cargo build --benches --all-features
      - run: cargo test --release
      - run: cargo test --all-features --release
      - run: cargo test --no-default-features --release
